<div class="text-center">
<h2><a href="/">Chefs</a> | Dishes</h2>
<h3>Check out our roster of Chefs!</h3>
<div class="text-right"><a href="dish/add">Add a Dish!</a></div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Chef</th>
            <th scope="col">Tastiness</th>
            <th scope="col">Calories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Dish d in ViewBag.AllDishes)
        {
        <tr>
            <td>@d.Name</td>
            <td>@d.Chef.FirstName @d.Chef.LastName</td>
            <td>@d.Tastiness</td>
            <td>@d.Calories</td>
        </tr>
        }
    </tbody>
</table>
</div>
